services:

  web:
    build: .
    volumes:
      - .:/app
      - ./db.sqlite3:/app/db.sqlite3
      - ./public/static:/app/public/static
    ports:
      - "8089:8000"
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=Floor_Bot.settings
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: always

  celery:
    build: .
    command: celery -A Floor_Bot worker -l info
    volumes:
      - .:/app
      - ./db.sqlite3:/app/db.sqlite3
    env_file:
      - .env
    depends_on:
      - redis
      - web
    restart: always

volumes:
  static_volume:
  media_volume:
